@model fix_ef_donet.DataContext.NinjaEntity
@{
    ViewData["Title"] = "Ninja Edit Data";
}

<h2>Form Edit Ninja</h2>

<form asp-controller="Ninja" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
 
    <div class="form-group">
        <label asp-for="NinjaName"></label>
        <input asp-for="NinjaName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NinjaGender"></label>
        <input asp-for="NinjaGender" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NinjaColor"></label>
        <input asp-for="NinjaColor" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NinjaPower"></label>
        <input asp-for="NinjaPower" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<br />
<a asp-action="GetAll" class="btn btn-sm btn-secondary">Back</a>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}